.about-salutations{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dir-div{
    width: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}



.the-value{
    color: rgb(54, 58, 65);
    font-weight: bold;
}

.the-about-salutation-header{
    margin-top: 20px;
    color: rgb(54, 58, 65);
    text-align: center;
}

.sologan-txt{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-bottom: 20px;
}

.contact-btn{
    border: none;
    padding: 5px 15px;
    color: white;
    background-color: orange;
}