.salutations-component{
    margin-top: 30px;   
}

.salutations-fold{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side{
    width: 60%;
    color: grey;
}

.enquire-btn{
    border: none;
    padding: 5px 15px;
    color: white;
    background-color: rgb(54, 58, 65);
}

.image-side{
    /* height: 400px; */
    width: 40%;
    /* background-color: grey; */
}

.salutations-title{
    margin-top: -25px;
    color: black;
}

@media screen and (max-width:431px) {
    .salutations-fold{
        flex-direction: column;
    }   

    .left-side{
        width: 100%;
    }

    .image-side{
        width: 100%;
    }
}