.second-section{
    margin: 30px 100px;
    display: flex;
    justify-content: center;
}

.our-sermons-div, .enquiry-div{
    border: 5px solid rgb(54, 58, 65);
    width: 250px;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-div{
    width: 30px;
    height: 30px;
    background-color: rgb(54, 58, 65);
    border-radius: 15px;
}

.sermon-des{
    margin-top: -10px;
    color: grey;
}

.donation-div{
    color: white;
    padding: 10px;
    width: 260px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)),url("../../assets/images/church_china.jpg");
}

.donations-info{
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
    color: grey;
}

.amount-input{
    /* padding-top: 0px; */
    padding: 5px;
    border: 1px solid grey;
    margin-bottom: 3px;
}

.amount-input p{
    margin-top: 0px;
    margin-bottom: 2px;
}

.amount-input input{
    width: 95%;
}

.flat-btn{
    width: fit-content;
    background: none;
    border: none;
}

.donate-btn{
    width: fit-content;
    margin-top: 5px;
    background-color: rgb(54, 58, 65); 
    color: white;
    border: none; 
    padding: 10px 20px;
    font-weight: bold; 
}

.flat-btn:hover, .donate-btn:hover{
    cursor: pointer;
}


@media screen and (max-width:431px) {
    .second-section{
        flex-direction: column;
        margin: 20px 10px;
    }  
    
    .our-sermons-div, .enquiry-div{
        width: 90%;
    }

    .donation-div{
        width: 93%;
    }
}